<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="/css/about.css"> 
</head>
<body>
    
</body>
</html>

<%- contentFor( 'body') %>

<div class="bgAbout">
    <div class="textAbout">    
        <div class="titleAbout">
            Sobre
        </div>

        <div>
            <p  class="pgAbout">O Rock in SMD é uma aplicação criada no curso de Sistemas e Mídias Digitais, da UFC, e serve como exercício para a cadeira de Autoração Multimídia II, tendo, em seu principal objetivo, a função de auxiliar os alunos a criar suas primeiras aplicações web, utilizando tecnologias como Node JS, Express e Bootstrap, bem como as conhecidíssimas HTML, CSS e JavaScript. 
            A autora do Rock in SMD é a Lívia Gabrielle, que assume prontamente que seu lado de Design influenciou um pouquinho mais na produção da aplicação. E, como coautor, temos o professor Wellington Sarmento, o icônico mestre das aplicações web, que auxiliou os alunos bastante ao implementar e explicar todo o processo de criação do esqueleto da aplicação.</p>           
        </div>
    </div>


    <div class="aboutImage">
        <img src="images/about-image.png" alt="">
    </div>
</div>