
<header class="pageHeader">
    <nav class="menu">
        <!--<a class="inicio" href="/">Início</a>-->
        <a class="inicio" href="/">
            <img src="images/rinsmd.png" alt="Homepage" class="inicioIMG">
        </a>
        <div>
            <ul class="ulHeader">
                <li><a href="/about">Sobre</a></li>
                <li><a href="/cadastro">V.I.P</a></li>
            </ul>
        </div>
    </nav>
</header>