<%- contentFor( 'body') %>

<div class="bgHome">
    <div class="imageHome">
        <img src="images/rinsmd.png" alt="Logo Rock in SMD">
    </div>

    <div>
        <p class="textHome">Período de férias chegando e nós queremos agitar! — Ou, alguns, descansar. — Nessa aplicação você vai ver uma lista de quem já passou de boooa nas cadeiras (os VIPs), vai poder se inscrever nessa lista, e vai ver mais algumas coisinhas. Dê um rolê por aqui ;)</p>
    </div>
</div>