<%- contentFor( 'body') %>

<div class="bgHome">
    <div class="imageHome">
        <img src="images/rinsmd.png" alt="Logo Rock in SMD">
    </div>

    <div>
        <p class="textHome">Esta aplicação foi criada para auxiliar alunos e interessados que queiram criar sua primeira aplicação Web utilizando a tecnologia Node.js.</p>
    </div>
</div>